#banner{
  display: block;
  margin: auto;
  width: 60%;
}

#mainMenue {
  list-style-type : none;
  width: 60%;
  text-align: center;
  margin: auto;

  border: 2px solid green;
}

#mainMenue ul {
  display: inline-block;
  margin-bottom: 1%;
  padding: 0;

  border: 2px solid blue;
}
#mainMenue li {
  display : inline-block;
  width: 30%; //largeur des bouton du menue
  text-align: center;
  font-size: 2em;

  border: 2px solid red;
}
#mainMenue a{
  display: block;
  background-color: #727272;
  padding : 2% 0 2% 0;
  margin : 0 2% 0 2%;

  text-decoration: none;
  color: #111111;
  font-family: Arial, Helvetica, sans-serif;
}
#mainMenue a:hover{
  background-color: #555555;
}
