body{
  font-family: 'Open Sans', Arial, sans-serif;
  overflow-x: hidden; //cahcer la scroll bar horizontale

  width: 100%
}

/*****HEADER*****/

.header img[src="images/logo.png"]{
  display: block;
  margin: 20px auto 20px auto;
}
.header-toogle{
  display: none;
}
.header-menu {
  text-align: center;
}
.header-menu a {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: #666;
  padding: 10px 20px 10px 20px;
  background-color: white;

  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}
.header-menu a:hover{
  background-color: black;
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 780px) {
  .header{
    padding-top: 20px;
  }
  .header img[src="images/logo.png"]{
    display: block;
    margin: 0 auto 20px auto;
  }
  .header-toogle{
    position: absolute;
    right: 10px;
    top: 20px;
    display: block;
  }
  .header-toogle-close{
    display: none;
  }
  #main-header:target .header-toogle-open{
    display: none;
  }
  #main-header:target .header-toogle-close{
    display: block;
  }
  .header-menu{
    overflow: hidden;
    max-height: 0;
    transition: max-height 300ms ease-in-out;
  }
  #main-header:target .header-menu{
    max-height: 300px;
  }
  .header-menu a {
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #666;
    padding: 10px 20px 10px 20px;
    background-color: white;

    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
  }
  .header-menu a:hover{
    background-color: black;
    color: white;
    text-decoration: none;
  }
}

/******END HEADER******/

/******BANNER**********/

.banner {
  height: 700px;
  overflow: hidden; /*empeche les élément de dépasser.*/
  position: relative;
}
.banner-video{
  position: absolute;
  width: 1920px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%); /*décale de 50% sur la gauche*/
}
.banner-desc{ /*texte sur la bagniere*/
  position: absolute;
  z-index: 3;
  text-align: center;
  color: #fff;
  width: 100%;
  top: 45%;
  transform: translateY(-50%);

}
.banner-video-overlay{
  height: 700px;
  width: 1920px;
  z-index: 2;
  background: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;


}
.banner-desc h1{
  font-family: "Reenie Beanie";
  font-size: 6em;
}
.banner-desc a{
  text-transform: uppercase;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 20px 10px 20px;
}


/***** Intro TEXTE *****/

.short-text{
  text-align: center;
  padding: 50px 200px 50px 200px;
  line-height: 1.7em;
  background-color: #eee;
}
@media screen and (max-width: 780px){
  .short-text{
    text-align: center;
    padding: 50px 20px 50px 20px;
    line-height: 1.7em;
    background-color: #eee;
  }
}


/****** Women *********/

.three-women-item{
  padding: 0;
  margin: 0;
}
.effect-img img{
  width: 100%;
}
.effect-img figcaption{
  position: absolute;
  text-align: center;
  width : 100%;
  bottom: 5%;
  color: white;

}
.title-like{
  font-size: 4em;
  margin: 0;
  font-family: "Reenie Beanie";
  color : white;
}
/**** BUTTON ****/

.btn{
  padding: 11px 25px;
  border: 2px solid;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;

  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}
.btn:hover{
  text-decoration: none;
}
.btn.btn-white{
  color: white;
  border-color: white;
}
.btn.btn-white:hover{
  color: #555;
  background-color: white;
}
.btn.btn-grey{
  color: grey;
  border-color: grey;
}
.btn.btn-white:hover{
  color: #999;
  background-color: grey;
}

/***** END  BUTTON *****/

/***** CONFIDENCE *****/

.confidence{
  background-color : grey;
  padding-top: 20px;
  color: black;

}
.confidence-intro{
  padding-left: 5%;
  padding-right: 5%;
}
.link{
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}
.confidence-prix{
  position : absolute;
  bottom: 20%;
  left: 40%;
  width: 50%;

  color: white;
}
.fleche-g{
  display: block;
  position: absolute;
  left: -10%;
  top: -30%;
}
.designation{
  display: block;
  text-transform: uppercase;
}
.prix {
  display: block;
  font-size: 2em;
}
.prix span{
  display: block;
  font-size: 0.4em;
}
.confidence-decor{
  position: absolute;
  right: 0;
}

/***** ARTICLES ****/
.articles{
  padding-top: 30px;
  padding-bottom: 30px;
}
.articles .title-like{
  font-size:50px;
  text-align: center;
  margin-bottom: 20px;
  color: black;
}
.articles a{
  display: block;
  background-color: #eee;
  color: black;
  padding: 10px;
}
.articles a:hover{
  text-decoration: none;
}
.articles img{
  max-width: 100%;
  height: auto;
}
.articles .row > div{ /*selectione toutes les div enfant de .row de .article */
  padding: 5px;
}
.articles-date{
  display: block;
  text-align: center;
  font-size: 19px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  margin-bottom: 30px;
}
.articles-img{
  position: relative;
}
.articles-over{
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: rgba(0,0,0,0.7);
  opacity: 0;

  transition: opacity 300ms ease-in-out;
}
.articles-over .title-like{
  color: white;
  font-size: 30px;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 100%;

  transition: top 300ms ease-in-out;
}
.articles a:hover .articles-over .title-like{
  top: 45%;
}
.articles a:hover .articles-over{
  opacity: 1;
}

/**** TENDANCE ******/

.tendances{
  display: table; /*créer le table layout*/
  table-layout: fixed; /*permet de limité les bug*/
}
.tendances-inverse{
  direction: rtl; /*change le sens de lecture*/
}
.tendances-item{
  display: table-cell; /*set en cellule*/
  width: 50%;
  direction: ltr;
}
.tendances-txt{
  padding: 150px;
}
.tendances-img{
  vertical-align: bottom;
  background-size: cover;
  background-position: center bottom;
}
.tendances-img span{
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
  color : white;
  text-align: center;
  padding: 30px;
}
.tendances-txt .title-like{
  color : black;
}

@media screen and (max-width: 780px){
  .tendances{
    display: block;
  }
  .tendances-img{
    display: block;
    padding-top: 500px;
    width: 100%;
  }
  .tendances-inverse{
    direction: ltr;
  }
  .tendances-txt{
    padding: 40px;
  }
}
/***** RESTOURNE ******/

.bons-plans p{
  background-image: url(../images/bon-reduction.png);
  background-repeat: no-repeat;

  display: block;
  padding-left: 150px;
  padding-bottom: 20px;

  width: 300px;
  text-transform: uppercase;
  margin: auto;
}
.bons-plans form{
  display: block;
  width: 300px;
  margin :auto;
}
.bons-plans input{
  display: inline-block;
  width: 49%;
  padding: 11px 25px;
  text-align: left;
}
.bons-plans .title-like{
  color: black;
  text-align: center;
}
@media screen and (max-width: 780px){
  .bons-plans p{
    background-image: url(../images/bon-reduction.png);
    background-repeat: no-repeat;
    background-position: top;

    display: block;
    padding-top: 150px;
    padding-left: 0px;
    text-align: center;

    width: 300px;

    margin: auto;
  }
  .bons-plans input{
    display: block;
    width: 300px;
  }
}

/***** SOCIAL NETWORK *****/
.footer-socials a{
  width: 55px;
  height: 55px;
  background-image: url(../images/socials.jpg); /*n'apparait pas */
}
a#btn-fb{
  background-position: center;
}
