#header {
	width: auto;
	height: 200px;
	/*background-color: pink;*/
	text-align: center;
	font-size: 40pt;
	position: relative;
	margin-bottom: 10px;
	margin-top: 10px;
	color: pink;
}

img {
	float: left;
	margin-top:10px;
	margin-left: 120px;
	width : 180px;
}

body {
	background-image: ;
	background-attachment: scroll;
	opacity: 20%;
}

#parent {
	display: flex;
	flex-direction : row;
}

.amis {
	width: 500px;
	height: 400px;
	/*background-color: red;*/
	margin-top : 50px;
	color: pink;
	display: block;
}

.pasDeReponse {
	width: 500px;
	height: 400px;
	/*background-color: yellow;*/
	margin-top : 50px;
	color: pink;
	display: block;
}

.attente {
	width: 500px;
	height: 400px;
	/*background-color: orange;*/
	margin-top : 50px;
	color: pink;
	display: block;
}

.recherche {
	width: 500px;
	height: 400px;
	/*background-color: grey;*/
	margin-top : 50px;
	color: pink;
	display: block;
}


